* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Sora", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 60px;
  display: inline-block;
  height: var(--height);
  background: #2e80ce;
  color: #fff;
  line-height: var(--height);
  text-align: center;
  border-radius: 99px;
  min-width: 205px;
  font-size: 1.8rem;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.9;
}

.section__heading {
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #10375c;
}

.section__desc {
  width: 468px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #575f66;
}

/* Header */

.header {
  min-height: 100vh;
  padding-top: 30px;
  background-color: var(--header-bg);
}

.logo {
  display: flex;
  gap: 6px;
  font-size: 1rem;
}

.logo__circle {
  width: 3em;
  height: 3em;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background-color: #2e80ce;
}

.logo__circle::after {
  position: relative;
  width: 1.6em;
  height: 1.6em;
  top: -2em;
  left: 1em;
  background-color: #fff;
}

.logo__text {
}

.logo__brand {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
  color: #fff;
  text-align: right;
}
.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Header top */
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}

.action__signin,
.navbar__link {
  color: #c9d2da;
  font-weight: 300;
  font-size: 1.6 rem;
  padding: 4px 21px;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  position: relative;
  left: -8px;
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
}

.action__signup {
  --height: 44px;
  font-size: 1.6rem;
  min-width: 104px;
  margin-left: 7px;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  margin-top: 76px;
}

/* Hero content*/

.hero__content {
  flex-shrink: 0;
  width: 44.18%;
}

.hero__heading {
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hero__desc {
  margin-top: 22px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #c9d2da;
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero__phone {
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
}

/* Hero media */
.hero__media {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.hero__image {
  width: 210px;
  height: 410px;
  object-fit: cover;
  border-radius: 6px;
}

.hero__image:first-child {
  position: relative;
  width: 330px;
  height: 540px;
  right: -6px;
}

/* Main */
/* Services */
.services {
  padding: 170px 0;
}

.services__heading,
.services__desc {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.services__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

/* sevices-item */
.services__row {
  margin-top: 70px;
}

.services__list {
  margin-bottom: 55px;
}

.sevices-item {
  display: flex;
  align-items: center;
  gap: 19px;
  padding: 22px;
  width: 470px;
  height: 128px;
  border-radius: 10px;
  transition: ease 0.3s;
}

.sevices-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.sevices-item:hover .sevices-item__icon {
  background: #2e80ce;
  color: #fff;
}

.sevices-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #eff6fd;
  border-radius: 50%;
  flex-shrink: 0;
  transition: ease 0.5s;
}

.services-item__heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.27;
  color: #10375c;
}

.services-item__desc {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #575f66;
}
